In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import requests

insert your URL here, with your API key here

In [5]:
respone = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=eebed871601f74a5c59adce9dbbf534b&language=en-US&page=1')

i only need a selected columns, plus only I need results part from the JSON file

In [12]:
df = pd.DataFrame(respone.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [13]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,121.499,8.7,17989
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,113.555,8.7,23834
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,59.863,8.6,10863
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,24.944,8.6,4137
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,51.813,8.6,14098
5,772071,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,2022-09-14,27.437,8.5,238
6,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,84.803,8.5,14337
7,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,42.550,8.5,7287
8,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,107.441,8.5,9873
9,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,68.518,8.5,15770
10,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-14,96.655,8.5,29760
11,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,80.587,8.5,15432
12,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,59.143,8.5,25210
13,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-23,46.202,8.5,7418
14,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,57.798,8.5,24696
15,122,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,2003-12-01,75.236,8.5,21628
16,372754,Dou kyu sei – Classmates,"Rihito Sajo, an honor student with a perfect s...",2016-02-20,15.841,8.5,307
17,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,46.278,8.5,11280
18,995133,"The Boy, the Mole, the Fox and the Horse","The unlikely friendship of a boy, a mole, a fo...",2022-12-25,20.902,8.5,332
19,704264,Primal: Tales of Savagery,Genndy Tartakovsky's Primal: Tales of Savagery...,2019-11-21,16.109,8.5,264

The json file had 428 pages, so have to run loop 428 times
With chainging the URL page number in each iteration

In [ ]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [15]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,121.499,8.7,17989
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,113.555,8.7,23834
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,59.863,8.6,10863
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,24.944,8.6,4137
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,51.813,8.6,14098
...,...,...,...,...,...,...,...
8575,458005,Zoe,Two colleagues at a revolutionary research lab...,2018-07-19,8.423,6.0,349
8576,119283,Parker,A thief with a unique code of professional eth...,2013-01-23,26.999,6.0,2750
8577,826749,Fortress,The story revolves around a top-secret resort ...,2021-12-17,34.505,6.0,290
8578,505707,Waiting for the Barbarians,"At an isolated frontier outpost, a colonial ma...",2019-09-06,10.097,6.0,305
8579,312791,GirlHouse,In an attempt to make some extra cash while aw...,2014-10-16,10.078,6.0,252

In [16]:
df.to_csv('TMDB_top_rated_movies.csv')